
<div class="container-fluid" style="">
    <div class="container-fluid">
        <div class="background" style="width:110%;margin-left: -24px;background-color: aqua;height: 100px;">

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xxl-5">
            <div  style="height:600px;width:400px; background-size:cover ">

            <img src="" alt="anh?" >
            </div>
        </div>
        <div class="col-xxl-7">
            <div class="contentproduct">
                <h3>{{Shoes.name}}</h3>
                <h3>{{Shoes.price}}</h3>
                <div class="row">
                    <div class="col-xxl-4">

                    <p>Màu sắc</p>
                    </div>
                    <div class="col-xxl-8">
                        <div class="row">
   
                            
                        <div class="col-xxl-3" style="height:30px; border: solid 1px #000;text-align: center; margin-right:5px; margin-bottom:10px">
                            Vàng
                        </div>
                        <div class="col-xxl-3" style="height:30px; border: solid 1px #000;text-align: center;margin-right:5px; margin-bottom:10px ">
                            Đỏ
                        </div>
                        <div class="col-xxl-3" style="height:30px; border: solid 1px #000;text-align: center;margin-right:5px; margin-bottom:10px">
                            Tím
                        </div>
                        <div class="col-xxl-3" style="height:30px; border: solid 1px #000;text-align: center;margin-right:5px; margin-bottom:10px ">
                            Hồng
                        </div>
                        </div>

                    </div>
                </div>
                <p>Số lượng mua</p>
            </div>
            <div>
                <button style ="height: 30px; width:40px"> - </button>
                <input type="text" placeholder="1" style="width:40px; ">
                <button style ="height: 30px; width:40px"> + </button>
            </div>
            <div class="row">
                <div class="col-xxl-3" style="height:50px;border: solid 1px #red;
                 margin-top:30px;background-color:beige;text-align: center;
                 padding-top:10px;color:black;
                  font-weight:bold;">
                        Thêm vào giỏ hàng
                </div>
                <div class="col-xxl-3"style="height:50px;border: solid 1px #red;
                 margin-top:30px;background-color:red;text-align: center;
                 padding-top:10px;margin-left:15px;color:white;
                 font-weight:bold;">
                    Mua Ngay
                </div>
            </div>
            
        </div>
    </div>
   <div class="row" style="font-size:20px">
       Chi tiết sản phẩm
   </div>
</div>

    <div class="container" style="background-color: black;">

        <div class="row" >

                <div class="col-sm-3 contact" style="color: white; font-weight: bold">
                    <div class="BuyOnline">
                        <h5>MUA HÀNG TRỰC TUYẾN</h5>
                        <h6>0900.xxx.xxx</h6>
                        <h6>RobotOhmi@gmail.com</h6>
                        
                    </div>
                </div>
                <div class="col-sm-3 Hotline"style="color: white; font-weight: bold">
                    <div class="Hotline">
                        <h5>HOTLINE</h5>
                        <h6>0901.xxx.xxx</h6>
                        <h6>RobotOhmi@gmail.com</h6>
                        
                    </div>
                </div>
                <div class="col-sm-6 Infor" style="color: white; font-weight: bold">
                    <div class="Infor">
                        <h5>Thông tin và chính sách cửa hàng</h5> 
                        <div class="row" >
                            <div class="col-sm-6">
                                <li><a  href="#"> Giới thiệu</a></li>
                                <li><a  href="#">Đối tác</a></li>
                                <li><a  href="#"> Chính sách bảo mật</a></li>
                                <li><a  href="#"> Chính sách bảo hành</a></li>
                                
                            </div>
                            <div class="col-sm-6">
                                <li><a  href="#"> Tuyển dụng</a></li>
                                <li><a  href="#"> Thanh toán và vận chuyển</a></li>
                                <li><a  href="#"> Chính sách hoàn tiền</a></li>
                            </div>
                            
                        </div>
                    </div>
                </div>
        
        </div>
        <div class="row row2" style=" margin-top:28px">
            <div class="col-sm-5 ">
                <div class="Bonus">
                     <h6 class="text-customer" > Ưu đãi khách hàng </h6>
                         <div class ="EmailCustomer" style="display: inline-block">
                        <input class ="input"type="text " placeholder="   Nhập Email của khách hàng" >
                        <button value="Submit" style="  width:50px; height:31px; text-align:center;  background-color: lightgoldenrodyellow;" >Gửi</button>
                    </div>
                </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="Bonus">
                         <h6 class="text-customer" > Kiểm tra hoá đơn của bạn </h6>
                             <div class ="PhoneCustomer" style="display: inline-block">
                            <input class ="input"type="text " placeholder="   Nhập Số điện thoại hoặc mã hoá đơn" >
                            <button value="Submit" style="  width:50px; height:31px; text-align:center;  background-color: lightgoldenrodyellow;" >Gửi</button>
                        </div>
                    </div>
                 </div>
            </div>
            <div style="border-top: 1px solid white; width:60%;margin-top:30px; margin-left: 20%;">
            </div>
            <div class="symbol">
              <a href="">
                    <img  class="img" src="../img/facebook-logo-2019.png" alt="">
                </a>
                <a href="">
                    <img class="img" src="../img/twitter.png" alt="">
                </a>
            <a href="">
                    <img class="img" src="../img/instagram.png" alt="">
                </a>
        
             
            </div>
        </div>
     